<h1>Listing bwimages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Camera</th>
    <th>Date</th>
    <th>Author</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bwimages.each do |bwimage| %>
  <tr>
    <td><%= bwimage.name %></td>
    <td><%= bwimage.camera %></td>
    <td><%= bwimage.date %></td>
    <td><%= bwimage.author %></td>
    <td><%= bwimage.url %></td>
    <td><%= link_to 'Show', bwimage %></td>
    <td><%= link_to 'Edit', edit_bwimage_path(bwimage) %></td>
    <td><%= link_to 'Destroy', bwimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bwimage', new_bwimage_path %>
